html {
	height: 100%;
}

body {
	height: 100%;
	background: white url("#{resource['img/bg_body.jpg']}") center 120px no-repeat;
}

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	margin: 0;
	padding: 0;
}

h1, h2 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
    margin: 0 0 0 16px;
    padding: 0;
}

li {
    list-style-type: square;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

.ui-widget {
	font-size: 11px;
}

div#wrapper {
	position: relative;
	width: 1015px;
	margin: 0 auto;
	min-height: 100%;
	background: url("#{resource['img/bg_wrapper.png']}") 0 0 repeat-y;
	left: -12px;
}

div#container {
	width: 979px;
	margin-left: 16px;
	padding-bottom: 53px;
}

.spacer {
	background-color: #e5e5e5;
	border-left: 2px #ffffff solid;
	border-right: 2px #ffffff solid;
	clear: both;
	height: 10px;
	margin-left: 16px;
	width: 979px;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;	
}

#header {
	background-color: #ffffff;
	width: 1015px;
	height: 108px;
    margin: 0 auto;
    padding-top: 8px;
}

div#header-logo {
	float: left;
	height: 108px;
	width: 204px;
}

div#header-image {
	background: url("#{resource['img/header-l.jpg']}") 0 0 no-repeat;
	float: left;
	height: 108px;
	width: 811px;
}

div#header-right {
	float: right;
	height: 108px;
	right: 0;
	z-index: 1;
}

div#header-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-top: 72px;
	padding: 10px 70px 10px 10px;
	border-radius: 0px 12px 0px 0px; 
	-moz-border-radius: 0px 12px 0px 0px; 
	-webkit-border-radius: 0px 12px 0px 0px;	
}

div#header-text a:link, 
div#header-text a:active,
div#header-text a:hover,
div#header-text a:visited {
    border: 0 none;
    text-decoration: none;
    color: #000000;
}

div#metanavigation {
    color:#B3B3B3;
    padding-right:19px;
    position:absolute;
    z-index:2;
    font-size: 10px;
    height:2.5455em;
    line-height:2.5455em;
    text-align:right;
    width:980px;
}

div#metanavigation a:link,
div#metanavigation a:active,
div#metanavigation a:visited {
    color:#4D4D4D;
    text-decoration:none;
    text-transform:uppercase;
}

div#metanavigation a:hover {
    text-decoration:underline;
}

#sidebar {
	float: left;
	width: 183px;
	margin-right: 5px;
	overflow: hidden;
}

#sidebar a:link, 
#sidebar a:active,
#sidebar a:visited {
    border: 0 none;
    text-decoration: none;
    color: #000000;
}

#sidebar a:hover {
    border: 0 none;
    text-decoration: none;
    font-weight: bold;
	color: #000000;
}

#sidebar ul li {
    list-style-type: none;
    font-size: 10px;
    padding-bottom: 3px;
}

.submenu {
	font-size: 10px;
	background-color: #ffffff;
	border-radius: 0px 0px 4px 0px; 
	-moz-border-radius: 0px 0px 4px 0px; 
	-webkit-border-radius: 0px 0px 4px 0px;
	padding: 2px;
	margin-bottom: 6px;	
}

.submenu-content {
	color: #000000;
	background-color: #D9EFEC;
}

.submenu-title {
	color: #ffffff;
	font-weight: bold;	
	background-color: #009682;
	margin-bottom: 2px;
	padding: 3px 5px 3px 15px;
}

div#content {
	width: 760px;
	float: left;
	padding: 10px;
	margin: 0 10px 10px 0;
	background-color: #ffffff;	
}

div#footer-container {
	height: 53px;
	left: 0;
	position: absolute;
	width: 1015px;
	background: #ffffff url("#{resource['img/bg_footer.png']}") left top no-repeat;	
	bottom: 0;
}

div#footer-content {
	font-size: 9px;
	color: #b3b3b3;
	margin-left: 204px;
	border-top: 1px #b3b3b3 solid;
	height: 20px;
	width: 780px;
}

div#owner {
	height: 15px;
	text-align: left;
	margin: 5px auto 0;
	width: 1015px;	
}

span#owner-text {
	color: #4D4D4D;
	padding-left: 32px;
	font-size: 9px;
}

div.panelInline {
	display: inline-block;
	margin: 4px 0 6px 0;
}

div.panel {
	margin: 4px 0 6px 0;
}

.value_bold {
	font-weight: bold;
}

.value_normal {
	font-weight: normal;
}

.pretext {
	white-space: pre;
	font-family: Courier,monospace;
}

.errorColumn {
}

.ui-panelgrid tr, .ui-panelgrid td {
    border: none !important;
}

.submenu-content a {
	text-decoration: none;
}

.language-label .ui-selectonemenu-label {
	font-size: 9px;
	text-align: left;
}

.language-list .ui-selectonemenu-list {
	font-size: 9px;
	text-align: left;
}

div.serviceBlock {
	display: inline-block; 
	width: 31%; 
	vertical-align: top; 
	border: 1px #aaaaaa solid; 
	margin: 4px;
}

div.serviceBlockHeader {
	background-color: #eeeeee; 
	font-weight: bold; 
	text-align: center; 
	padding: 2px;
}

div.serviceBlockImage {
	float: left; 
	padding: 4px;
}

div.serviceBlockDesc {
	padding: 2px;
}

div.serviceBlockProblem {
	border: 1px dashed red;
	color: red;
	padding: 2px;
}

div.serviceBlockProblem a:link,
div.serviceBlockProblem a:active,
div.serviceBlockProblem a:visited {
	color: red;
    text-decoration: underline;
	padding: 2px;
}


div.serviceBlockLink a:link,
div.serviceBlockLink a:active,
div.serviceBlockLink a:visited {
    border: 0 none;
    text-decoration: none;
    color: #000000;
}

div.serviceBlockLink {
	margin-left: 8px;
}

.ui-button {
	margin: 0px 0px 0px 8px;
}
