@charset "UTF-8";

.ui-widget .ui-widget {
	font-size: 1.25rem;
}

.ui-panel {
	border: none;
}

label.ui-helper-hidden {
    display: none !important;
}

.col-width-1 {
	width: 25%;
}

.col-width-2 {
	width: 75%;
}

.form {
	font-size: 1.25rem;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background-size: cover;
}

.ui-selectonelistbox .ui-selectlistbox-item, .ui-selectmanymenu .ui-selectlistbox-item, .ui-multiselectlistbox .ui-multiselectlistbox-item {
	margin-top: 6px;
}

#idpBox .ui-selectlistbox-listcontainer {
	height: 360px !important;
}

#idpBox {
	width: auto;
}

#opt1 .ui-radiobutton-box {
	display: none;
}

.page-footer {
	background-color: #ffffff;
	border-top: 0px;
}

#nav_bar_form .ui-state-default {
	font-size: 1.0rem;
	font-weight: 300;
	background: none;
	border: none;
}

nav_bar_form .ui-selectonemenu {
	vertical-align: bottom;

 }
 
#nav_bar_form .ui-inputfield {
	padding: 0;
}