@charset "UTF-8";

:root {
    --primaryColor: #00876c;
    --primaryLightColor: #d7efea;
    --primaryDarkColor: #007755;
}

/* ausgewähltes Element in einer Liste */
body .ui-picklist .ui-picklist-list .ui-picklist-item.ui-state-highlight {
    background: var(--primaryColor) !important;
    font-weight: bold;
}

/* ausgewähltes Element in einer Menu (z.B LangMenu) */
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover {
    background: var(--primaryLightColor) !important;
    color: #000;
    overflow: auto;
}

.ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    color: var(--primaryColor) !important;
}

.ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: var(--primaryColor) !important;
    color: var(--primaryColor) !important;
}

/* SelectList z.B in Data-Komponente*/
body .ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight {
    background: var(--primaryLightColor) !important;
    font-weight: bold;
}

/* Box_Shadow des Inputfieldes */
body .ui-inputfield.ui-state-focus {
    border-color: var(--primaryColor) !important;
    box-shadow: none !important;
}

/* Panel */
html body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: var(--primaryColor) !important;
}

/* AutoComplete */
html body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: var(--primaryLightColor);
}

/* Tabs*/
html body .ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: var(--primaryColor);
}

/* Button deactivated*/
button:disabled {
    background-color: var(--primaryLightColor);
    border: var(--primaryLightColor);
}

/* Ausgewähltes Konto-Header */
.accountHead {
    background-color: var(--primaryColor);
}

/* AKTIVES ITEM */
body .ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight::before {
    border-left: 12px solid var(--primaryColor);
}
		
body .ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-item::before {
    border-left: 12px solid grey;
}

body .ui-commandlink {
	color: var(--primaryDarkColor);
}
